# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Production build
dist
build
.DS_Store

# Development
.vite
.env
.env.*
!.env.example
.env.local
.env.*.local
*.log

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Python
__pycache__
*.py[cod]
*$py.class
.Python
env/
venv/
.venv
